.nav-item {
    display: flex;
    align-items: center;
}

.auth-buttons {
    display: flex;
}

.login-button,
.signup-button {
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-black);
    font-size: 12px;
    font-weight: 400;
}

.login-button {
    border: 1px solid var(--color-black);
}

.login-button:active {
    background-color: var(--color-white-dark);
}

.signup-button {
    margin-left: 12px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
}

.signup-button:active {
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
}

.user-info {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.user-info:hover {
    background-color: var(--color-white-dark);
}

.user-icon {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.user-name {
    font-size: 14px;
    font-weight: 600;
}
